$-bg-clr: #111111;
$-bg-clr-op: #1111118c;
$-sdw-clr-2: #0a0a0a;
$-sdw-clr-1: #1a1a1a;
$-text-clr: rgb(124, 124, 124);
$-key-text-clr: #fff;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    transition: all 0.2s ease-in;
}
body{
    width: 100vw;
    min-height: 100vh;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background: $-bg-clr;
}



// DARK-----------------------------------------------------------------------------------------------------------------------
.num_keyboard,
.keyboard{
    width: 100vw;
    height: fit-content;
    position: fixed;
    left: 0%;
    top: -120%;
    bottom: 0%;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0px -2px 3px $-sdw-clr-1;
    background: #151515;
    transition: all 0.25s ease-in-out;
}
.keyboard_key{
    width: 7%;
    height: 2rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    outline: none;
    margin: 0.3rem 1px;  
    padding: 0;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    color: $-key-text-clr;
    box-shadow: -2px -4px 5px $-sdw-clr-1, 2px 5px 5px $-sdw-clr-2;
    transition: all 0.2s ease-in;
    background: $-bg-clr;
}
.keyboard_key:active{
    box-shadow: inset -2px -4px 5px $-sdw-clr-1, inset 2px 5px 5px $-sdw-clr-2;
    transition: all 0.2s ease-in;
}
.keyboard_key--dark{
    background: #000;
}
.keyboard_key--wide {
    width: 9%;
    position: relative;

    .keyboard_key--cap-indcate{
        position: absolute;
        right: 5px;
        top: 5px;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.103);
    }
    .keyboard_key--cap-indcate.active{
        background-color: rgb(229, 255, 0);
    }
}
.keyboard__key--extra-wide{
    width: 36%;
    max-width: 500px;
}
.num_keyboard.num_keyboard--active,
.keyboard.keyboard--active{
    top: unset;
}
.num_keyboard{
    .keyboard_key{
        width: 15%;
        height: 2.4rem;
    }
}

// LIGHT----------------------------------------------------------------------------------------------------------------------
$-bg-lit-clr: #c7c7c7;
$-bg-lit-clr-op: #c7c7c771;
$-sdw-lit-clr-2: #ececec88;
$-sdw-lit-clr-1: rgba(148, 148, 148, 0.541);
$-text-lit-clr: #222222;
body.light{
    background: $-bg-lit-clr;
    .btn{
        border: 1px solid #c9c9c9;
        color: $-text-lit-clr;
        background: $-bg-lit-clr;
        box-shadow: -5px -10px 15px $-sdw-lit-clr-2, 5px 10px 15px $-sdw-lit-clr-1;
    }
    .inpt{
        color: $-text-lit-clr;
        background-color: $-bg-lit-clr;
        box-shadow: inset 2px 2px 5px $-sdw-lit-clr-1, inset -5px -5px 10px $-sdw-lit-clr-2;
    }
    .btn:hover{
        box-shadow: -4px -4px 5px $-sdw-lit-clr-2, 4px 4px 5px $-sdw-lit-clr-1, inset 0 0 2px 0px #dfdfdf;
    }
    .btn:active{
        box-shadow: inset -5px -4px 5px $-sdw-lit-clr-1, inset 4px 4px 5px $-sdw-lit-clr-2;
    }
    .inpt:focus{
        box-shadow: inset 2px 2px 2px $-sdw-lit-clr-1, inset -2px -2px 5px $-sdw-lit-clr-2;
    }
    .txt{
        color: #949494;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.664);
    }
    .num_keyboard,
    .keyboard{
        box-shadow: 0px -2px 3px $-sdw-lit-clr-1;
        background: $-bg-lit-clr;
    }
    .keyboard_key{
        color: rgba(0, 0, 0, 0.76);
        box-shadow: -2px -4px 5px $-sdw-lit-clr-2, 2px 5px 5px $-sdw-lit-clr-1;
        background: $-bg-lit-clr;
    }
    .keyboard_key:active{
        box-shadow: inset -2px -4px 5px $-sdw-lit-clr-2, inset 2px 5px 5px $-sdw-lit-clr-1;
        transition: all 0.2s ease-in;
    }
    .keyboard_key--dark{
        color: green;
    }
}


@media screen and (min-width: 481px) {
    .keyboard_key{
        margin: 0.3rem 0.15rem; 
        font-size: 1.05rem;
        height: 2.68rem;
    }
}
@media screen and (min-width: 769px) {
    .keyboard_key{
        margin: 0.3rem 0.2rem; 
        width: 6%;
    }
    .keyboard_key--wide {
        width: 10%;
    }
    .keyboard__key--extra-wide{
        width: 36%;
        max-width: 500px;
    }
}
@media screen and (min-width: 1201px) {
    .keyboard_key{
        margin: 0.4rem 0.25rem; 
        max-width: 4.5%;
        height: 2.8rem;
    }
    .keyboard_key--wide {
        max-width: 8%;
    }
    .keyboard__key--extra-wide{
        max-width: 30%;
    }
}