{% extends 'getUserId_layout.html' %}
{% block userId %}
<section class="form-section">
    <p>
        <span class="material-icons">info</span>
        <i>
            Your not registerd yet so please enter your USER ID to validate.
        </i>
    </p>
    
    {% if errors %}
        {% for error in errors %}
            <p class="error"><i>{{error}}</i></p>
        {% endfor %}
    {% endif %}

    <form action="/confirmAcc/" method="POST" autocomplete="off">
        {% csrf_token %}
        <label for="userId">
            User Id
            <input type="text" name="userId" placeholder="Enter Your User Id"/>
        </label>
        <input type="submit" value="submit">
    </form>
</section>
{% endblock %}