{{!-- slide bar section --}}
<div class="slide-bar">
    <ul>
        <li class="categories-head"><h4>categories</h4></li>
        <li>
            <a href="/admin">
                <div>
                    <span class="material-icons categories-anim">dashboard</span>dashboard
                </div>
                <div>
                    <span class="material-icons">keyboard_arrow_right</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/admin/customers">
                <div>
                    <span class="material-icons categories-anim">list_alt</span>customers
                </div>
                <div>
                    <span class="material-icons">keyboard_arrow_right</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/admin/notificationAlert">
                <div>
                    <span class="material-icons categories-anim">notifications_none</span>notifications & alerts
                </div>
                <div>
                    <span class="material-icons">keyboard_arrow_right</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div>
                    <span class="material-icons categories-anim">info</span>about us
                </div>
                <div>
                    <span class="material-icons">keyboard_arrow_right</span>
                </div>
            </a>
        </li>
    </ul>
    <ul>
        <li class="categories-head" style="padding-top: 1rem;"><h4>about you</h4></li>
        <li>
            <a href="/admin/profile">
                <div>
                    <span class="material-icons categories-anim">perm_identity</span>profile
                </div>
                <div>
                    <span class="material-icons">keyboard_arrow_right</span>
                </div>
            </a>
        </li>
    </ul>
</div>