$-bg-clr: #111111;
$-bg-clr-op: #1111118c;
$-sdw-clr-2: #0a0a0a;
$-sdw-clr-1: #1a1a1a;
$-text-clr: rgb(124, 124, 124);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    transition: all 0.2s ease-in;
}
body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background: $-bg-clr;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='input'] {
  -moz-appearance: textfield;
}


// DARK-----------------------------------------------------------------------------------------------------------------------
.btn,
.inpt{
    border: none;
    border-radius: 20rem;
}
.btn{
    padding: 1rem 2rem;
    color: $-text-clr;
    cursor: pointer;
    background: $-bg-clr;
    box-shadow: 0px -12px 10px $-sdw-clr-1, 0px 12px 10px $-sdw-clr-2;
    transition: all 0.2s ease-in;
}
.inpt{
    padding: 1rem;
    color: $-text-clr;
    background-color: $-bg-clr;
    box-shadow: inset 2px 2px 5px $-sdw-clr-1, inset -5px -5px 10px $-sdw-clr-2;
    transition: all 0.2s ease-in;
}
.inpt:focus,
.inpt:active,
.btn:focus{
    outline: none;
    background-color: $-bg-clr;
}
.btn:hover{
    box-shadow: 0px -4px 5px $-sdw-clr-1, 0px 5px 5px $-sdw-clr-2;
}
.btn:active{
    box-shadow: inset 0px -4px 5px $-sdw-clr-1, inset 0px 5px 5px $-sdw-clr-2;
}
.inpt:focus{
    box-shadow: inset 2px 2px 2px $-sdw-clr-1, inset -2px -2px 5px $-sdw-clr-2;
}
.txt{
    color: $-sdw-clr-1;
    color: rgba(255, 255, 255, 0.205);
    text-shadow: 1px 1px 1px $-sdw-clr-2;
    font-family: 'Nunito', sans-serif;
}

// main section
main{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;

    .logo{
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        box-shadow: 0px -11px 11px $-sdw-clr-1, 0px 11px 11px $-sdw-clr-2;
        img{
            width: 80%;
            height: 80%;
        }
    }

    h1.txt{
        padding: 1rem;
        color: rgba(255, 255, 255, 0.178);
        text-shadow: 1px 1px 5px black;
    }

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .inpt{
            width: 100%;
            margin-bottom: 1.5rem;
            letter-spacing: 1px;
            // padding-top: 1.3rem;
            // padding-bottom: 1.3rem;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.466);
        }

        input::placeholder{
            text-transform: capitalize;
        }

        .submit{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            letter-spacing: 0.5px;
            margin-top: 0.2rem;
            font-size: 16px;
            padding: 1rem 4rem;
            color: rgba(255, 255, 255, 0.466);

            i{
                transform: rotate(90deg);
                padding-right: 1px;
                font-weight: 700;
                font-size: 1.1rem;
            }
        }
    }

    .contact{
        margin-top: 1.2rem;
        // letter-spacing: 0.5px;
        span{
            font-size: 14px;
            letter-spacing: 0.5px;
        }
    }
}

// loading section
.loading-section{
    z-index: 5;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background: $-bg-clr-op;
}
.loading-div{
    width: 4rem;
    height: 4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: $-bg-clr;
    border: 7px solid $-bg-clr;
    box-shadow: 0px -11px 11px $-sdw-clr-1, 0px 11px 11px $-sdw-clr-2, inset 0px -4px 4px $-sdw-clr-1, inset 0px 4px 4px $-sdw-clr-2;
    transform: translateY(-80vh);
    opacity: 0;
    transform: scale(0.2);
    transition: all 0.2s ease-in;

    img{
        width: 85%;
        height: 85%;
    }
}
.loading-section.loading-section-active{
    display: flex;
}
.loading-div.loading-div-active{
    opacity: 1;
    transform: scale(1);
    img{
        animation: loading 2s ease infinite;
        transform-origin: center;
        transform-box: fill-box;
    }
}
@keyframes loading{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

// status section
.status-section{
    z-index: 5;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background: $-bg-clr-op;
}
.status-section.status-section-active{
    display: flex;
}
.status-screen{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.2);
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    box-shadow: -5px -5px 20px $-sdw-clr-1, 5px 5px 10px $-sdw-clr-2;
    background: $-bg-clr;
    transition: all 0.25s ease-in;

    h1, h4{
        text-transform: capitalize;
    }
    h1{
        font-weight: 700;
        padding-bottom: 0.5rem;
    }
    h4{
        color: $-text-clr;
    }
}
.status-screen.status-screen-active{
    transform: translate(-50%, -50%) scale(1);
}
.status-screen.success{
    h1{
        color: rgb(0, 131, 0);
    }
}
.status-screen.failed{
    h1{
        color: #db1600;
    }
}

// result section
.result-section{
    z-index: 5;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100vw;
    min-height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $-bg-clr-op;
    padding: 1rem 0;
}
.result-div{
    width: 90%;
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    box-shadow: -5px -5px 10px $-sdw-clr-1, 5px 5px 10px $-sdw-clr-2;
    background: $-bg-clr;
    transition: all 0.25s ease-in;
    margin: 0 0 1rem 0;
}
.result-contents,
.result-btns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 0.5px;
    h4{
        padding: 0 0 2rem 0;
        text-transform: capitalize;
    }
    .confirm{
        color: rgb(2, 199, 2);
        letter-spacing: 0.5px;
    }
    .reject{
        color: red;
        letter-spacing: 0.5px;
    }
}
.result-section.result-section-active{
    display: flex;
}


// LIGHT----------------------------------------------------------------------------------------------------------------------
$-bg-lit-clr: #c7c7c7;
$-bg-lit-clr-op: #c7c7c771;
$-sdw-lit-clr-2: #ececec88;
$-sdw-lit-clr-1: rgba(148, 148, 148, 0.541);
$-text-lit-clr: #222222;
body.light{
    background: $-bg-lit-clr;
    .btn{
        border: 1px solid #c9c9c9;
        color: $-text-lit-clr;
        background: $-bg-lit-clr;
        box-shadow: -5px -10px 15px $-sdw-lit-clr-2, 5px 10px 15px $-sdw-lit-clr-1;
    }
    .inpt{
        color: $-text-lit-clr;
        background-color: $-bg-lit-clr;
        box-shadow: inset 2px 2px 5px $-sdw-lit-clr-1, inset -5px -5px 10px $-sdw-lit-clr-2;
    }
    .btn:hover{
        box-shadow: -4px -4px 5px $-sdw-lit-clr-2, 4px 4px 5px $-sdw-lit-clr-1, inset 0 0 2px 0px #dfdfdf;
    }
    .btn:active{
        box-shadow: inset -5px -4px 5px $-sdw-lit-clr-1, inset 4px 4px 5px $-sdw-lit-clr-2;
    }
    .inpt:focus{
        box-shadow: inset 2px 2px 2px $-sdw-lit-clr-1, inset -2px -2px 5px $-sdw-lit-clr-2;
    }
    .txt{
        color: #949494;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.664);
    }
    main{
        .logo{
            box-shadow: 0px -11px 11px $-sdw-lit-clr-2, 0px 11px 11px $-sdw-lit-clr-1;
        }
        form{

            .inpt{
                font-weight: 700;
                color: unset;
            }
            .submit{
                color: #ae1100;
            }
        }
    }
    .status-section,
    .loading-section{
        background: $-bg-lit-clr-op;
    }
    .loading-div{
        background: $-bg-lit-clr;
        border-color: $-bg-lit-clr;
        box-shadow: 0px -11px 11px $-sdw-lit-clr-2, 0px 11px 11px $-sdw-lit-clr-1, 
                    inset 0px -4px 4px $-sdw-lit-clr-2, inset 0px 4px 4px $-sdw-lit-clr-1;
    }
    .status-screen{
        border: 1px solid rgba(255, 255, 255, 0.192);
        background: $-bg-lit-clr;
        box-shadow: -5px -5px 20px $-sdw-lit-clr-2, 5px 5px 10px $-sdw-lit-clr-1;
    }
    .status-screen.success{
        h1{
            color: rgb(0, 131, 0);
        }
    }
    .status-screen.failed{
        h1{
            color: #db1600;
        }
    }
}
// ------------------------------------------------------------------------------------------------------------------------


@media screen and (min-width: 481px) {
    main{
        width: 75%;
    }
}
@media screen and (min-width: 769px) {
    main{
        width: 60%;
        .logo img{
            width: 5vw;
        }
    }
    .result-div,
    .status-screen{
        width: 50%;
    }
}
@media screen and (min-width: 1025px) {
    main{
        width: 50%;
        .contact{
            span{
                font-size: 12px;
            }
        }
    }
    .result-div,
    .status-screen{
        width: 35%;
    }
}
@media screen and (min-width: 1201px) {
    main{
        width: 32%;
        .logo img{
            width: 4vw;
        }
        .contact{
            span{
                font-size: 12px;
            }
        }
    }
}