$-body-dark: #181b1e;
$-slide-dark: #212529;
$-lit-dark: #2a2f34;
$-border: 1px solid rgba(255, 255, 255, 0.185);
$-nav-head-text: rgba(255, 255, 255, 0.788);
$-text-clr: rgba(255, 255, 255, 0.548);

$-red-clr: rgb(253, 57, 57);
$-ylw-clr: rgb(250, 250, 84);
$-blue-clr: rgb(0, 132, 255);

$-nav-height: 3.8rem;