* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #343a40;
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: unset;
}

input[type=submit],
input[type=checkbox],
button {
  cursor: pointer;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

header h2 {
  padding: 0 0.8rem;
  font-weight: 300;
  font-size: 26px;
  color: #6c757d;
}

header h2 span {
  margin-right: -2px;
  color: #0084ff;
  font-weight: 900;
  padding-right: 0.09rem;
}

.heading {
  width: 100%;
}

.heading h4 {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  color: #6c757d;
}

.login-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-form .heading h4 {
  font-size: 1rem;
  font-weight: 400;
}

.login-form-inputs {
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}

.login-form-inputs label, .login-form-inputs input {
  padding: 0.3rem;
}

.login-form-inputs label {
  width: 2.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(151, 151, 151, 0.473);
  border-radius: 0.2rem 0 0 0.2rem;
  color: #6c757d;
  background: #e2e2e2;
}

.login-form-inputs input {
  border: none;
  outline: none;
  width: calc(100% - 2.5rem);
  height: 100%;
  font-size: 1rem;
  border-top: 1px solid rgba(151, 151, 151, 0.473);
  border-bottom: 1px solid rgba(151, 151, 151, 0.473);
  border-right: 1px solid rgba(151, 151, 151, 0.473);
  border-radius: 0 0.2rem 0.2rem 0;
  padding-left: 0.5rem;
}

.login-form-inputs input::-webkit-input-placeholder {
  font-size: 14px;
  text-transform: capitalize;
}

.login-form-inputs input:-ms-input-placeholder {
  font-size: 14px;
  text-transform: capitalize;
}

.login-form-inputs input::-ms-input-placeholder {
  font-size: 14px;
  text-transform: capitalize;
}

.login-form-inputs input::placeholder {
  font-size: 14px;
  text-transform: capitalize;
}

.show-pass {
  width: 1.7rem;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  border-radius: 0 0.2rem 0.2rem 0;
}

.pass-input input {
  padding-right: 2rem;
}

.form-rem-forgot {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  color: #6c757d;
  font-size: 14px;
}

.form-rem-forgot label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-rem-forgot label input {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

.form-rem-forgot a {
  color: #1791ba;
}

.submit {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submit button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(151, 151, 151, 0.473);
  font-size: 14px;
  border-radius: 0.2rem;
  padding: 0.3rem 2.5rem;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.507);
          box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.507);
  border: 1px solid rgba(151, 151, 151, 0.473);
  color: rgba(255, 255, 255, 0.932);
  background: #03a4daec;
}

.submit button span {
  padding-left: 0.2rem;
}

.submit button:active {
  -webkit-box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.507);
          box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.507);
}

.login-with {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.google-sginin-btn {
  width: 80%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.2rem;
  color: #057aff;
  border: 1px solid #057aff;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.507);
          box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.507);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.google-sginin-btn:active {
  -webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.507);
          box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.507);
}

.google-sginin-btn .google-icon-svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 0.5px solid rgba(255, 255, 255, 0.486);
  padding: 0.4rem;
}

.google-sginin-btn .google-icon-svg svg {
  width: 1.5rem;
}

.google-sginin-btn .google-signin-text {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 14px;
}

.google-sginin-btn:hover {
  color: rgba(255, 255, 255, 0.959);
  background: #057aff;
  border: 1px solid rgba(255, 255, 255, 0.486);
}

.login-contactus {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
  margin: 1rem 0;
  border-top: 1px solid rgba(151, 151, 151, 0.473);
  border-bottom: 1px solid rgba(151, 151, 151, 0.473);
  font-size: 14px;
}

.login-contactus h4 {
  color: #6c757d;
  font-weight: 400;
}

.login-contactus a {
  padding: 0 0.5rem;
  color: #1791ba;
}

.login-content-text p,
.login-footer p {
  color: #6c757d;
  font-size: 14px;
  font-weight: 400;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.login-footer {
  margin-top: 1rem;
  width: 100%;
}

.login-footer p {
  font-size: 12px;
}

.err-msg-container {
  position: relative;
  padding: 0.3rem 0.5rem;
  width: 100%;
  border: 1px solid red;
  border-radius: 0.2rem;
  font-size: 14px;
  font-weight: 400;
  color: red;
  background: #fff09a;
  text-transform: capitalize;
  margin-bottom: 0.2rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.err-msg-container button {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -ms-grid;
  display: grid;
  place-content: center;
  background: none;
  border: none;
  outline: none;
}

.err-msg-container button span {
  font-size: 16px;
}

.err-msg-container.err-msg-container--remove {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  opacity: 0;
  pointer-events: none;
}

.forgot-pass {
  position: absolute;
  width: 100vw;
  min-height: 100%;
  top: 0px;
  left: 0px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background: #131518ce;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.forgot-pass section {
  position: relative;
  background: rgba(255, 255, 255, 0.966);
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  border-radius: 0.2rem;
  border: 1px solid rgba(151, 151, 151, 0.473);
  -webkit-box-shadow: 0px 0px 20px 1px #00000057;
          box-shadow: 0px 0px 20px 1px #00000057;
}

.forgot-pass.open {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.forgot-pass-close {
  position: absolute;
  top: 0;
  right: 0;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background: none;
  border: none;
  outline: none;
}

.varifyIdentity-container {
  width: 100vw;
  min-height: 100vh;
  background: inherit;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "empty" "content";
}

.content-btn-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  min-height: calc(100vh - 4rem);
  padding: 3rem 1rem 0rem 1rem;
}

.blank-section {
  grid: empty;
  height: 4rem;
  background: #212529;
}

.form-varify-content-section,
.varify-content-section {
  min-height: calc(100vh - 15rem);
  background: inherit;
}

.form-varify-content-section header,
.varify-content-section header {
  padding: 0 0 1.5rem 0;
}

.form-varify-content-section header h2,
.varify-content-section header h2 {
  padding: 0;
}

.varify-content h1,
.form-varify-content h1 {
  color: rgba(255, 255, 255, 0.897);
  text-transform: capitalize;
  font-weight: 600;
  padding: 0 0 1rem 0;
}

.varify-content p,
.form-varify-content p {
  color: #6c757d;
  font-size: 14px;
  line-height: 1.5rem;
}

.varify-btns {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 0.5rem;
}

.varify-btns button, .varify-btns a {
  text-transform: capitalize;
}

.button-varify {
  width: 70%;
  padding: 0.5rem;
  text-align: center;
  font-weight: 600;
  border-radius: 0.3rem;
  color: rgba(255, 255, 255, 0.897);
  background: -webkit-gradient(linear, left top, left bottom, from(#23b805), to(#1a6902));
  background: linear-gradient(180deg, #23b805 0%, #1a6902 100%);
  border: none;
  -webkit-box-shadow: 0px 0px 1px 0 black;
          box-shadow: 0px 0px 1px 0 black;
}

.button-varify:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#1e9f04), to(#176001));
  background: linear-gradient(180deg, #1e9f04 0%, #176001 100%);
}

.button-varify:active {
  -webkit-box-shadow: inset 0px 0px 1px 0 black;
          box-shadow: inset 0px 0px 1px 0 black;
}

.button-cancel {
  color: #057aff;
}

.button-cancel:hover {
  color: #016fec;
}

.button-cancel:active {
  color: #035dc5;
}

.form-varify-content-section {
  height: unset;
  min-height: unset;
  padding-bottom: 0.5rem;
}

.info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  background: rgba(255, 153, 0, 0.308);
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  border: 1px solid rgba(255, 153, 0, 0.925);
  border-left: 0.3rem solid rgba(255, 153, 0, 0.925);
}

.info-card .icon-section {
  padding: 0 0.5rem;
}

.info-card .icon-section span {
  color: rgba(56, 34, 1, 0.925);
}

.info-card p {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.varify-form {
  width: 100%;
  color: #6c757d;
  padding-top: 1rem;
}

.varify-form form {
  width: 95%;
  min-height: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-input {
  padding: 0.5rem 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5rem;
  padding-left: 0;
}

.main-input label {
  width: 100%;
  color: #c4c4c4;
  font-weight: 400;
}

.main-input label p {
  font-size: 14px;
  color: #6c757d;
  padding: 0.5rem 0 0 0;
}

.main-input label input {
  width: 100%;
  padding: 1rem 1rem;
  outline: none;
  border: 1px solid rgba(151, 151, 151, 0.473);
  border-radius: 0.3rem;
  position: relative;
  margin: 0.5rem 0;
}

.main-input label input[name=username] {
  background: #ffffff3d;
  color: #c4c3c3;
}

.main-input label a {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.main-input label div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.submit-identity-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submit-identity-form input {
  width: 70%;
  padding: 0.5rem;
  text-align: center;
  font-weight: 600;
  border-radius: 0.3rem;
  color: rgba(255, 255, 255, 0.897);
  background: -webkit-gradient(linear, left top, left bottom, from(#23b805), to(#1a6902));
  background: linear-gradient(180deg, #23b805 0%, #1a6902 100%);
  border: none;
  -webkit-box-shadow: 0px 0px 1px 0 black;
          box-shadow: 0px 0px 1px 0 black;
}

.submit-identity-form input:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#1e9f04), to(#176001));
  background: linear-gradient(180deg, #1e9f04 0%, #176001 100%);
}

.submit-identity-form input:active {
  -webkit-box-shadow: inset 0px 0px 1px 0 black;
          box-shadow: inset 0px 0px 1px 0 black;
}

.submit-identity-form a {
  margin: 0.5rem 0;
}

.acc-div {
  width: 100%;
  background: rgba(255, 255, 255, 0.63);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6c757d;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: inset 0px 0px 2px;
          box-shadow: inset 0px 0px 2px;
  border: 1.5px solid rgba(0, 0, 0, 0.801);
  border-left: 0.3rem solid rgba(0, 0, 0, 0.801);
}

.acc-profile-img {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.2rem;
  border: 1px solid rgba(151, 151, 151, 0.473);
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px 0px black;
          box-shadow: 0 1px 2px 0px black;
  background: #eceaea;
  overflow: hidden;
}

.acc-profile-img img {
  width: 100%;
}

.acc-name {
  width: calc(100% - 3rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  color: rgba(0, 26, 255, 0.747);
}

.acc-name:hover {
  color: rgba(0, 26, 255, 0.815);
}

@media screen and (min-width: 425px) {
  section {
    background: rgba(255, 255, 255, 0.966);
    width: 25rem;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    border-radius: 0.2rem;
    border: 1px solid rgba(151, 151, 151, 0.473);
    -webkit-box-shadow: 0px 0px 20px 1px #00000057;
            box-shadow: 0px 0px 20px 1px #00000057;
  }
}

@media screen and (min-width: 768px) {
  .varifyIdentity-container {
        grid-template-areas: "empty content";
  }
  .blank-section {
    height: 100vh;
    height: unset;
    min-height: unset;
    width: 25vw;
  }
  .content-btn-container {
    min-height: 100vh;
    width: calc(100vw - 25vw);
    padding: 3rem 0rem 0rem 3rem;
  }
  .form-varify-content-section,
  .varify-content-section {
    width: 68%;
    height: unset;
    min-height: unset;
  }
  .varify-btns {
    width: 100%;
    height: unset;
    min-height: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 1rem;
  }
  .button-varify {
    width: 15rem;
    margin-right: 1rem;
  }
  .info-card {
    width: 25rem;
  }
  .varify-form form {
    width: 20rem;
    min-height: unset;
  }
  .main-input label input {
    padding: 0.6rem;
  }
  .submit-identity-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .submit-identity-form input, .submit-identity-form a {
    width: 45%;
    font-weight: 600;
  }
  .submit-identity-form a {
    border: 1px solid rgba(151, 151, 151, 0.473);
    text-align: center;
    padding: 0.4rem;
    font-weight: 600;
    border-radius: 0.3rem;
    color: rgba(255, 255, 255, 0.897);
    background: -webkit-gradient(linear, left top, left bottom, from(#adb6aa), to(#4d524c));
    background: linear-gradient(180deg, #adb6aa 0%, #4d524c 100%);
    -webkit-box-shadow: 0px 0px 1px 0 black;
            box-shadow: 0px 0px 1px 0 black;
  }
  .submit-identity-form a:hover {
    color: rgba(255, 255, 255, 0.897);
    background: -webkit-gradient(linear, left top, left bottom, from(#7d857a), to(#373a36));
    background: linear-gradient(180deg, #7d857a 0%, #373a36 100%);
  }
  .submit-identity-form a:active {
    color: rgba(255, 255, 255, 0.897);
    -webkit-box-shadow: inset 0px 0px 1px 0 black;
            box-shadow: inset 0px 0px 1px 0 black;
  }
  .acc-div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 5rem;
    background: rgba(255, 102, 0, 0.26);
    border: 1.5px solid rgba(255, 153, 0, 0.925);
    border-left: 0.3rem solid rgba(255, 153, 0, 0.925);
    -webkit-box-shadow: 0px 0px 3px;
            box-shadow: 0px 0px 3px;
  }
}
/*# sourceMappingURL=login.css.map */