<!-- content body -->
<div class="content-body search-body">
    <div class="heading">
        <h3>searching options</h3>
    </div>
    <div class="search-options">
        {{!-- show all customers without any filtter  --}}
        <div class="search-option-container">
            <a href="/admin/customers/all-customers">Show All</a>
        </div>
        
        {{!-- show all customers filtered by name --}}
        <div class="search-option-container" id="search-name">
            <button>Show By Name</button>
            <div class="search-option-content search-option-name">
                <form action="/admin/customers/show-by-name" method="GET" autocomplete="off" class="nameForm">
                    <input type="text" name="name" placeholder="Search For Name" id="searchName">
                    <div class="autocomplete"></div>
                    <button type="submit">
                        <span class="material-icons">search</span>
                    </button>
                </form>
            </div>
        </div>

        {{!-- show all customers filtered by id/special key --}}
        <div class="search-option-container" id="search-id">
            <button>Search By Special Key</button>
            <div class="search-option-content search-option-id">
                <form action="/admin/customers/search-special-key" method="GET" autocomplete="off">
                    <label for="place">
                        Special Key: <br>
                        <input type="text" name="id" placeholder="Eg: 507f191e810c19729de860ea" />
                    </label>
                    <label for="submit">
                        <input type="submit" value="Submit">
                    </label>
                </form>
            </div>
        </div>

        {{!-- show all customers filtered by full details --}}
        <div class="search-option-container" id="search-full">
            <button>Search By Full Details</button>
            <div class="search-option-content search-option-full">
                <form action="/admin/customers/search-by-full" method="GET" autocomplete="off">
                    <label for="name">
                        Name: <br>
                        <input type="text" name="name" placeholder="Eg: bob" />
                    </label>
                    <label for="phone">
                        Phone Number: <br>
                        <input type="tel" name="phone" placeholder="Eg: +916666666666" />
                    </label>
                    <label for="place">
                        Place: <br>
                        <input type="text" name="place" placeholder="Eg: " />
                    </label>
                    <label for="submit">
                        <input type="submit" value="Submit">
                    </label>
                </form>
            </div>
        </div>

        {{!-- show all customers filtered by date --}}
        <div class="search-option-container" id="search-date">
            <button>Search By Date</button>
            <div class="search-option-content search-option-date">
                <form action="/admin/customers/search-by-date" method="GET">
                    <label for="date">
                        Date: <br>
                        <input type="date" name="date" />
                    </label>
                    <label for="submit">
                        <input type="submit" value="Submit" />
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/customer-search-script.js"></script>
<script src="/javascript/autocomplete-search.js"></script>