* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

body {
  width: 100vw;
  min-height: 100vh;
  padding: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111111;
}

.num_keyboard {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  left: 0%;
  top: -120%;
  bottom: 0%;
  padding: 1rem 0;
  text-align: center;
  -webkit-box-shadow: 0px -2px 3px #1a1a1a;
          box-shadow: 0px -2px 3px #1a1a1a;
  background: #151515;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.keyboard_key {
  width: 7%;
  height: 2rem;
  font-size: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: top;
  outline: none;
  margin: 0.3rem 1px;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #fff;
  -webkit-box-shadow: -2px -4px 5px #1a1a1a, 2px 5px 5px #0a0a0a;
          box-shadow: -2px -4px 5px #1a1a1a, 2px 5px 5px #0a0a0a;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background: #111111;
}

.keyboard_key:active {
  -webkit-box-shadow: inset -2px -4px 5px #1a1a1a, inset 2px 5px 5px #0a0a0a;
          box-shadow: inset -2px -4px 5px #1a1a1a, inset 2px 5px 5px #0a0a0a;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.keyboard_key--dark {
  background: #000;
}

.keyboard_key--wide {
  width: 9%;
  position: relative;
}

.keyboard_key--wide .keyboard_key--cap-indcate {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.103);
}

.keyboard_key--wide .keyboard_key--cap-indcate.active {
  background-color: #e5ff00;
}

.num_keyboard.num_keyboard--active,
.keyboard.keyboard--active {
  top: unset;
}

.num_keyboard .keyboard_key {
  width: 15%;
  height: 2.4rem;
}

body.light {
  background: #c7c7c7;
}

body.light .num_keyboard {
  -webkit-box-shadow: 0px -2px 3px rgba(148, 148, 148, 0.541);
          box-shadow: 0px -2px 3px rgba(148, 148, 148, 0.541);
  background: #c7c7c7;
}

body.light .keyboard_key {
  color: rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: -2px -4px 5px #ececec88, 2px 5px 5px rgba(148, 148, 148, 0.541);
          box-shadow: -2px -4px 5px #ececec88, 2px 5px 5px rgba(148, 148, 148, 0.541);
  background: #c7c7c7;
}

body.light .keyboard_key:active {
  -webkit-box-shadow: inset -2px -4px 5px #ececec88, inset 2px 5px 5px rgba(148, 148, 148, 0.541);
          box-shadow: inset -2px -4px 5px #ececec88, inset 2px 5px 5px rgba(148, 148, 148, 0.541);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

body.light .keyboard_key--dark {
  color: green;
}

@media screen and (min-width: 481px) {
  .keyboard_key {
    margin: 0.3rem 0.15rem;
    font-size: 1.05rem;
    height: 2.68rem;
  }
}

@media screen and (min-width: 769px) {
  .keyboard_key {
    margin: 0.3rem 0.2rem;
    width: 6%;
  }
  .keyboard_key--wide {
    width: 10%;
  }
}

@media screen and (min-width: 1201px) {
  .keyboard_key {
    margin: 0.4rem 0.25rem;
    max-width: 4.5%;
    height: 2.8rem;
  }
  .keyboard_key--wide {
    max-width: 8%;
  }
}
/*# sourceMappingURL=keyboard.css.map */