<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex align-items-center justify-content-center">
            <div class="col-md-8 alert alert-info shadow d-flex flex-column align-items-center justify-content-center" role="alert">
                <div style="width: 6rem; height: 6rem; border-radius: 50%; padding: 0.5rem;"
                    class="bg-light d-flex align-items-center justify-content-center">
                    <img src="/images/Logo-light.svg" style="width: 100%;" alt="">
                </div>

                <div class="col-md-10">
                    <hr class="dropdown-divider mb-4 mt-4" />
                </div>

                <h4 class="h6">{{superUser.email}}</h4>

                <a href="/superUser/logout" class="btn text-danger btn-link">Sign out</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>